/* Основной контейнер страницы */
.requests-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

/* Стиль для карточки заявки */
.request-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #F1F6E7;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Равномерное распределение данных */
.request-info {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

/* Индекс заявки */
.request-index {
    flex: 0 0 5%; /* Фиксированная ширина для индекса */
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #6c757d;
}

/* Информация о заявке */
.request-details {
    flex: 1; /* Равномерное распределение оставшегося пространства */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* Статус заявки */
.request-status {
    flex: 1;
    font-size: 1.2rem;
    color: #343a40;
    margin: 0;
    text-align: center;
}

.back-home-btn {
    background-color: #054D1A; /* Изменен цвет кнопки */
    color: #F1F6E7;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s ease;
}