:root {
  --active_color: #c22; /* Яркий цвет для текущей страницы */
  --additional_color: #c22; /* Цвет для пройденных страниц */
  --separator_color: #c22; /* Цвет разделителя */
}

.breadcrumbs-container {
  display: flex;
  align-items: center;
  position: relative;
}

/* Бургер-иконка */
.burger-icon {
  display: none;
  cursor: pointer;
  font-size: 28px;
  margin-left: 20px;
}

/* Стили для хлебных крошек */
.breadcrumbs {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
  font-family: 'Century Gothic', sans-serif;
  font-size: 28px;
  font-weight: bold;
  align-items: center;
}

.breadcrumbs li {
  position: relative;
  cursor: pointer;
  color: var(--additional_color);
  transition: color 0.3s ease;
}

.breadcrumbs .slash {
  color: var(--separator_color); /* Цвет разделителя */
}

.breadcrumbs li:last-child {
  color: var(--active_color); /* Цвет текущей страницы */
  font-weight: bold;
}

.breadcrumbs li a {
  color: var(--additional_color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.breadcrumbs li a:hover {
  color: var(--active_color);
}

/* Медиа-запрос для экранов шириной менее 550px */
@media (max-width: 550px) {
  .burger-icon {
    display: block; /* Показываем бургер-иконку */
  }

  .breadcrumbs {
    display: none; /* Скрываем обычные хлебные крошки */
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #f1f6e7;
    padding: 10px;
    border-radius: 5px;
    z-index: 100;
  }

  .breadcrumbs.show {
    display: flex; /* Показываем хлебные крошки при нажатии на бургер */
  }

  .breadcrumbs li {
    font-size: 18px;
    margin: 5px 0;
  }
}
