
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Didact+Gothic&display=swap');
/**/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.changa-one{
    font-family: 'Changa', sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: bold;
}


body{
    background: #F1F6E7;
}

.header-m {
    background-color: #F1F6E7;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Размещаем элементы по краям */
    padding: 0 20px;
    font-family: 'Century Gothic', sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #054D1A;
    width: 100%;
}

.super-header-main {
    display: flex;
    align-items: center;
    gap: 5px; /* Отступ между кнопками */
}

.MP_breadcrumbs {
    margin-left: auto; /* Сдвигаем BreadCrumbs вправо */
}


.space{
    width: 100%;
    height: 100%;
    margin: 0;
}


button[name = "home-button2"]{
    width: 85px;
    height: 115px;
    background-image: url('http://localhost:9000/test/Home_logo.jpg');
    background-size: cover; /* Изображение растягивается, чтобы покрыть всю кнопку */
    background-position: center;
    cursor: pointer;
    outline: none;
    border: none;
    margin-right: 20px;
}

button[name="search"] {
    width: 238px;
}

.navigation_line {
    margin-right: 20px;
    display: flex; /* Используем Flexbox для контейнера */
    flex-direction: row; /* Элементы располагаются в одну строку */
    justify-content: space-between; /* Двигаем элементы влево */
    gap: 10px; /* Расстояние в 10px между элементами */
    margin-left: 150px;
}

.search_field_class{
    display: flex; /* Используем Flexbox для контейнера */
    flex-direction: row; /* Элементы располагаются в одну строку */
    justify-content: flex-start; /* Двигаем элементы влево */
    gap: 20px; /* Расстояние в 10px между элементами */
}


.search_field {
    background-color: #F1F6E7; /* Светло серый фон */
    border: none; /* Без границы */
    border-radius: 15px; /* Закругление углов */
    padding: 10px; /* Отступы внутри поля ввода */
    font-size: 20px; /* Размер шрифта */
    margin-top: 20px;
    border: none;
    outline: none;
    font-family: 'Century Gothic', sans-serif;
}

input[type="search"]::-webkit-search-decoration, /*убрать синий крестик*/
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


/* CSS для кнопки поиска */
button{
    font-size: 20px;
    border: 2px solid #054D1A; /* Без границы */
    border-radius: 15px; /* Закругление углов у кнопки */
    padding: 10px 15px; /* Отступы внутри кнопки */
    cursor: pointer; /* Изменяем курсор на указатель при наведении */
    background: #F1F6E7;
    color: #054D1A; /* Цвет текста кнопки */
    font-family: 'Century Gothic', sans-serif;
}

button:hover {
    background-color: #fff0f0;
}

.navigation_line{
    background-color: #054D1A;
    display: flex;
    justify-content: center;
    margin-left: 0; 
    width: 100%;

}

/* Стили для кнопки поиска */
.button-def {
    position: relative; /* Устанавливаем контекст позиционирования */
    display: inline-block; /* Убедимся, что кнопка ведет себя как блок */
    padding: 10px 20px; /* Добавляем внутренние отступы */
    background: #F1F6E7;
    border: 2px solid #054D1A;
    border-radius: 15px;
    font-size: 18px;
    color: #054D1A;
    cursor: pointer;
    text-align: center;
}

/* Стили для значка с количеством */
.card-count {
    position: absolute;
    top: 24px; /* Смещение вверх */
    right: -8px; /* Смещение вправо */
    width: 23px;
    height: 23px;
    background-color: #DF0023;
    color: white;
    font-family: 'Changa';
    font-weight: bold;
    font-size: 22px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container-main {
    background-color: #054D1A;
    display: grid;
    flex-wrap: nowrap;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    min-height: 40vw;
    justify-content: space-between;
    align-content: space-around;
    padding-left: 120px;
}

.card{
    margin-top: 65px;
    width: 307px;
    height: 437px;
    border-radius: 15px;
    background-color: #F1F6E7;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 10px;
    width: 70%
}

.info{
    font-family: 'Century Gothic';
    margin-top: -30px;
    display: flex;
    justify-content: center;
    align-items: center; /* Вертикальное выравнивание по центру */
    gap: 15px; /* Отступ между элементами */
}

.title-en{
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    color: #054D1A;
}

.multiplier{
    font-family: 'Changa';
    font-weight: bold;
    font-size: 30px;
    color: #DF0023;
    margin-left: -30px;
}

.multiplier:empty {
    display: none;
}

.image{
    width: 85%;
    max-height: 190px;
    border-color: #F1F6E7;
    object-fit: cover;
    margin: 0 auto; /* Центрирование изображения */
}


.title-ru{
    font-family: 'Century Gothic';
    text-align: center;
    font-size: 20px;
    color: #054D1A
}

.short-description{
    font-family: 'Century Gothic';
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    max-height: 150px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.search_field {
    width: 750px; /* Занимает всю ширину родительского контейнера */
    padding: 10px; /* Добавление внутренних отступов для удобства */
    box-sizing: border-box; /* Учитывает внутренние отступы и рамки в общей ширине */
}

.card-button{
    font-family: 'Century Gothic';
    text-align: center;
    padding: 2px; 
    width: 211px;
    border-radius: 15px;
    border: 2px solid #054D1A;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    display: block; /* Блоковый элемент, чтобы применилось margin */
    margin: 0 auto;
    color: #054D1A;
    /*margin-top: 5px;*/
}

@media (max-width: 1450px) {
    .container-main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .image {
        width: 50%;
    }

    .card {
        width: 60%; /* Карточки занимают всю доступную ширину */
        margin: 10px 0;
        margin-left: 50px; /* Добавляем вертикальные отступы между карточками */
    }

    .search_field {
        width: 600px; /* Занимает всю ширину родительского контейнера */
        padding: 10px; /* Добавление внутренних отступов для удобства */
        box-sizing: border-box; /* Учитывает внутренние отступы и рамки в общей ширине */
    }
}

@media (max-width: 1250px) {
    .container-main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .image {
        width: 50%;
    }

    .card {
        width: 80%; /* Карточки занимают всю доступную ширину */
        margin: 10px 0;
        margin-left: 20px; /* Добавляем вертикальные отступы между карточками */
    }

    .search_field {
        width: 600px; /* Занимает всю ширину родительского контейнера */
        padding: 10px; /* Добавление внутренних отступов для удобства */
        box-sizing: border-box; /* Учитывает внутренние отступы и рамки в общей ширине */
    }
}

@media(max-width: 765px){
    .container-main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .search_field {
        width: 500px; /* Занимает всю ширину родительского контейнера */
        padding: 10px; /* Добавление внутренних отступов для удобства */
        box-sizing: border-box; /* Учитывает внутренние отступы и рамки в общей ширине */
    }

    .image {
        width: 50%;
    }

    .card {
        width: 65%; /* Карточки занимают всю доступную ширину */
        margin: 10px 0;
        margin-left: 40px; /* Добавляем вертикальные отступы между карточками */
    }

    .card-button {
        font-size: 16px; /* Уменьшаем размер шрифта кнопки */
        padding: 6px 10px; /* Уменьшаем отступы */
    }
}

@media (max-width: 600px) {

    .button{
        margin: 0px;
    }

    .MP_breadcrumbs{
        margin-left: -10px;
    }
    
    .container-main {
        grid-template-columns: 1fr; /* Одну карточку в колонке */
        
        margin-right: 10px; /* Уменьшаем отступ справа */
        width: 100%;
    }

    /* Настройка карточек для мобильных устройств */
    .card {
        width: 95%; /* Карточки занимают всю доступную ширину */
        margin: 10px 0;
        margin-left: -35px; /* Добавляем вертикальные отступы между карточками */
    }

    /* Карточки могут занимать всю ширину, но изображения могут быть меньше */
    .image {
        width: 50%; /* Растягиваем изображение на всю ширину карточки */
        height: auto; /* Сохраняем пропорции изображения */
    }

    /* Уменьшаем размер шрифта в карточках на мобильных устройствах */
    .title-in-card {
        font-size: 16px; /* Уменьшаем размер шрифта */
    }

    /* Кнопка в карточке */
    .card-button {
        font-size: 16px; /* Уменьшаем размер шрифта кнопки */
        padding: 6px 10px; /* Уменьшаем отступы */
    }

    /* Поиск */
    .navigation_line {
        width: 100%;
        margin-left: 0px; /* Уменьшаем отступ */
        margin-right: 10px; /* Уменьшаем отступ */
    }

    .search_field {
        font-size: 16px; /* Уменьшаем размер шрифта в поле поиска */
        padding: 8px; /* Уменьшаем внутренние отступы */
        width: 69%;
    }

    button[type="submit"] {
        font-size: 16px; /* Уменьшаем размер шрифта кнопки поиска */
        padding: 8px 10px; /* Уменьшаем отступы */
    }
}


@media (max-width: 420px) {

    .button{
        margin: 0px;
    }
    /* Изменяем контейнер карточек для мобильных устройств */
    .container-main {
        grid-template-columns: 1fr; /* Одну карточку в колонке */
        margin-left: 0px; /* Уменьшаем отступ слева */
        width: 100%;
    }

    /* Настройка карточек для мобильных устройств */
    .card {
        width: 100%; /* Карточки занимают всю доступную ширину */
        margin: 10px 10px;
        margin-left: -60px;
        height: 350px;
         /* Добавляем вертикальные отступы между карточками */
    }

    /* Карточки могут занимать всю ширину, но изображения могут быть меньше */
    .image {
        width: 50%; /* Растягиваем изображение на всю ширину карточки */
        height: auto; /* Сохраняем пропорции изображения */
    }

    /* Уменьшаем размер шрифта в карточках на мобильных устройствах */
    .info {
        margin-left: 15px;
        margin-top: -5px;
         /* Уменьшаем размер шрифта */
    }


    /* Кнопка в карточке */
    .card-button {
        font-size: 14px; /* Уменьшаем размер шрифта кнопки */
        padding: 6px 10px; /* Уменьшаем отступы */
        width: 100px;
    }

    .short-description {
        font-size: 16px;
    }

    .multiplier {
        font-size: 18px;
    }

    .title-en{
        font-size: 16px;
    }

    .title-ru{
        margin-top: -5px;
        font-size: 16px;
    }

    /* Поиск */
    .navigation_line {
        width: 100%;
        margin-left: 0px; /* Уменьшаем отступ */
        margin-right: 10px; /* Уменьшаем отступ */
    }

    .search_field {
        font-size: 16px; /* Уменьшаем размер шрифта в поле поиска */
        padding: 8px; /* Уменьшаем внутренние отступы */
        width: 69%;
    }

    

    button[type="submit"] {
        font-size: 16px; /* Уменьшаем размер шрифта кнопки поиска */
        padding: 8px 10px; /* Уменьшаем отступы */
    }
}